@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  border-radius: "16px";
  /* clip-path: polygon(5% 0%, 95% 5%, 0% 95%, 0% 95%, 5% 90%); */
  /* padding-left: 150px;
  padding-right: 150px; */
}

